@import url('./reset_cssV1.css');

:root {
    --brand-color: #0E387A;
    --light-color: #0e377ac5;
}

* {
    outline-offset: 4px;
    outline-color: var(--brand-color);
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FCFCFC;


}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.otpcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.landingHeading {
    font-weight: 600;
}

.landingInfo {
    color: var(--brand-color);
    font-size: 20px;
}

.formWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    min-height: 280px;
    box-shadow: 2px 2px 10px rgb(0, 00, 0, 0.05);
    /* min-width: 30px; */
    max-width: 100%;
    width: 320px;
    height: 297px;
    margin-inline: 10px;
    transition: all 0.3s ease;
    /* transform-origin: bottom; */
}

.formWrap.zoom-in {
    /* position: fixed; */
    /* inset-block-start: 50%; */
    /* transform: scale(1.1); */
    background-color: rgba(255, 255, 255, 0.849);
    -webkit-backdrop-filter: blur(05px);
    backdrop-filter: blur(05px);
    transition: all 0.3 ease;
    width: 400px;
    height: 350px;
}


.iconlock {
    height: 0px;
    width: 0px;
    text-align: center;
    margin-inline: auto;
    margin-block-end: 1rem;
}

.successicon {
    height: 0px;
    width: 0px;
    text-align: center;
    margin-inline: auto;
    margin-block-end: 1rem;
    border-radius: 50%;
    fill: var(--brand-color);
    border: 0px solid rgba(11, 65, 151, 0.473);
}

.defaHeight {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconlock.shown {
    height: 60px;
    width: 60px;

}

.successicon.shown {
    height: 100px;
    width: 100px;
    border-width: 10px;
    transition: all 0.3s ease;

}

.otpsubheading {
    font-size: 22px;
    font-weight: 800;
}

.heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.OTPId,
.successID {
    position: absolute;
    width: 100%;
    transition: width 3s ease;
}

.successID {
    opacity: 0;
    scale: 0;
}

.otp-field {
    display: flex;
    justify-content: center;
    gap: 10px;
    transform-origin: top;
}


.otp-field.hidden {
    transition: height 0.3s ease;
    height: 0;
    overflow: hidden;
}

.otp-field input {
    width: 40px;
    font-size: 18px;
    padding: 05px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid #F2F2F2;
    background: #F2F2F2;
    font-weight: bold;
    outline: none;
    transition: all 0.1s;
}

.otp-field input:focus {
    border: 2px solid var(--brand-color);
}

.disabled {
    opacity: 0.5;
}

.space {
    margin-right: 1rem !important;
}

.supportheading {
    margin-block: 1rem;
    color: #444444;
}

.supportheading a {
    display: inline-block;
    margin-inline-start: 05px;
    font-weight: 600;
    text-decoration: none;
    color: var(--brand-color);
}

.supportheading a:hover {
    text-decoration: underline;
}

.custda {
    background-color: rgba(255, 255, 255, 0.76);
    -webkit-backdrop-filter: blur(05px);
    backdrop-filter: blur(05px);
}





.mainDailog {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.modalHeading {
    margin-block-start: 1rem;
    font-weight: 700;
    color: var(--brand-color);
}


.iconlock,
.successicon {
    transform-origin: center;
}
